<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Aulang</title>
    <link rel="stylesheet" th:href="@{/aulang/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/aulang/css/login.css}"/>
</head>
<body>

<div class="top">
    <div class="header clearfix">
        <div class="header-left">
            <img th:src="@{/aulang/images/login_logo.png}" alt="logo"/>
        </div>
        <ul class="header-right">
            <li><a href="https://www.aulang.net/help.html">第一次使用？点击帮助</a></li>
        </ul>
    </div>
</div>

<div class="banner">
    <div class="login-box">
        <form id="changepwdForm" method="post" th:object="${password}">
            <h4>修改密码</h4>
            <div id="errorMsg" class="login-error">
                <div th:if="${#fields.hasErrors('*')}">
                    <span th:each="err : ${#fields.errors('*')}" th:utext="${err}"/>
                </div>
            </div>
            <div class="login-input">
                <span class="login-icon-password"><img th:src="@{/aulang/images/i-01.png}"/></span>
                <input type="password" maxlength="20" id="password" placeholder="密码" class="userpwd" tabindex="1"
                       th:field="*{password}" autocomplete="off"/>
            </div>
            <div class="login-input">
                <span class="login-icon-password"><img th:src="@{/aulang/images/i-01.png}"/></span>
                <input type="password" maxlength="20" id="confirmedPassword" placeholder="确认密码" class="userpwd" tabindex="2"
                       th:field="*{confirmedPassword}" autocomplete="off"/>
            </div>
            <div class="login-input">
                <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                <input type="hidden" name="_eventId" value="submit"/>
                <input type="submit" name="submit" class="login-btn" value="确认" tabindex="3"/>
            </div>
        </form>
    </div>
</div>

<div class="footer-container">
    <div class="footer-contain">
        <span>&copy;2017&nbsp;&nbsp;AulangNet</span>
        <a href="https://www.aulang.net">aulang.net</a>
        <span>版权所有</span>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var policyPattern = /*[[${policyPattern}]]*/ ;
    /*]]>*/
</script>
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/aulang/js/changepwd.js}"></script>
</body>
</html>